@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";
@custom-variant dark (&:where(.dark, .dark *));

/* CUSTOM STYLES */

/*
REACT ADMIN CUSTOM STYLES START
*/
img .RaImageField-image {
	margin: 0 !important;
}
/*
REACT ADMIN CUSTOM STYLES END
*/

/*
SWIPER CUSTOM STYLES START
*/
.dark div.swiper-button-prev, div.swiper-button-next{
  height: 20px;
  width: 20px;
  /* for the color use the tailwind sky-blue-700 */
  color:  theme('colors.gray.50');
}

.dark .swiper-pagination-bullet-active {
  /* for the color use the tailwind sky-blue-700 */
  background:  theme('colors.gray.50');
}

.dark .swiper-pagination-bullet {
  background: theme('colors.gray.300');
}

div.swiper-button-prev, div.swiper-button-next{
  height: 20px;
  width: 20px;
  /* for the color use the tailwind sky-blue-700 */
  color:  theme('colors.sky.700');
}

span.swiper-pagination-bullet-active {
  /* for the color use the tailwind sky-blue-700 */
  background:  theme('colors.sky.700');
}
/*
SWIPER CUSTOM STYLES END
*/

/*
ACCORDION LEARNING LIST SVG START
*/

button svg.h-6.w-6.shrink-0{
  fill: theme('colors.sky.50') !important;
}

button svg.h-6.w-6.shrink-0.rotate-180{
  fill: theme('colors.sky.200') !important;
}

/*
ACCORDION LEARNING LIST SVG END
*/
