@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";
@custom-variant dark (&:where(.dark, .dark *));

/* custom styles */


/*
REACT ADMIN CUSTOM STYLES START
*/

img .RaImageField-image{
  margin: 0 !important;
}

p.p span.v {
  cursor: pointer !important;
}

p.p span.v:hover{
  background-color: #f9d9be;
}

mark {
  background-color: transparent;
  color: inherit;
}

.dark p.p span.v:hover{
  background-color: #1F2937;
}



/*
REACT ADMIN CUSTOM STYLES END
*/